body {
    font-family: Arial, sans-serif;
    background-image: url("pexels-mdsnmdsnmdsn-3736816.jpg");
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    background-image: url("swq3.jpg");
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(234, 241, 234, 0.1);
    width: 400px;
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.quiz-header h2 {
    margin: 0 0 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}